body{
    background-color: black;
}
.container{
    background-color: hsl(216, 12%, 8%);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: fit-content;
    padding: 20px;
    border-radius: 10px;
    margin-left: 33%;
    margin-top: 10%;
}
.containerinput[type=button]{
    background-color: hsl(216, 12%, 8%);
}
.container h3{
    background-color: hsl(216, 12%, 8%);
}
.container p{
    color: hsl(217, 12%, 63%);
    background-color: hsl(216, 12%, 8%);
}
.button {
    background-color: hsl(213, 19%, 18%);
    /* color: hsl(217, 12%, 63%); */
    color: white;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 15px;
    text-decoration: none;
    border: none;
  
  }
  .button:hover{
    background-color:hsl(25, 97%, 53%);
  }
  .button:focus{
    background-color:hsl(217, 12%, 63%);
  }
 
  input[type=button] {
    width: 100%;
    height: 30%;
    background-color: hsl(25, 97%, 53%);
    color: white;
    padding: 10px 15px;
    margin: 8px 0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  input[type=button]:hover {
    width: 100%;
    height: 30%;
    color: hsl(25, 97%, 53%);
    background-color: white;
    padding: 10px 15px;
    margin: 8px 0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  .attribution{
    color: white;
    text-align: center;
    margin-top: 3%;
  }

