.container2{
    background-color: hsl(216, 12%, 8%);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: fit-content;
    padding: 20px;
    border-radius: 10px;
    margin-left: 30%;
    margin-top: 10%;
   text-align: center;
    
}
.container2 div{
    align-items: center;
    display: flex;
    text-align: center;
}
.container2 .p{
    background-color: hsl(213, 20%, 22%);
    border-radius: 30px;
}